[Unit]
Description=Docker System Prune

[Service]
Type=Oneoff
ExecStart=/usr/bin/docker system prune -af --volumes --filter "until={{ docker_prune_period }}"
